# Environments
venv/
.env

# Data & Models
data/
models/*.h5
models/*.keras
models/*.tflite
*.zip

# Uploads
uploads/*

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db